<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CreateTask</title>
</head>
<body>
  <%= form_with scope: :task, url: task_block_tasks_path, local: true do |f| %>
    <%= f.label :title %><br>
    <%= f.text_field :title %><br><br>
    <%= f.label :description %><br>
    <%= f.text_field :description %><br><br>
    <%= f.submit "Create New Task" %><br><br>
  <% end %>
</body>
<br>
<%= link_to "Back to Home", root_path %>
</html>