<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CreateTask</title>
</head>
<body>
  <%= form_with scope: :task, url: task_block_tasks_path, local: true do |f| %>
    <div>
      <b><%= f.label :title %></b><br>
      <%= f.text_field :title %><br>
      <% if flash[:errors] && flash[:errors]["title"] %>
        <% flash[:errors]["title"].each do |message| %>
          <div><%= message %></div>
        <% end %>
      <% end %>
    </div>
    <br>
    <div>
      <b><%= f.label :description %></b><br>
      <%= f.text_field :description %><br>
      <% if flash[:errors] && flash[:errors]["description"] %>
        <% flash[:errors]["description"].each do |message| %>
          <div><%= message %></div>
        <% end %>
      <% end %>
    </div>
    <br>
    <%= f.submit "Create New Task" %><br><br>
  <% end %>
</body>
<br>
<%= link_to "Back to Home", root_path %>
</html>